
UnityProject/UserSettings/Layouts/
UnityProject/UserSettings/Search.settings
UnityProject/UserSettings/Search.index

#Bridge 自动截图产物
UnityProject/screenshots/

#FileServer
Tools/FileServer/AssetRoot

UnityProject/ProjectSettings/CommonBurstAotSettings.json
UnityProject/ProjectSettings/BurstAotSettings_StandaloneWindows.json

#GameEventSourceGenerator
Tools/GameEventSourceGenerator/*/.idea
Tools/GameEventSourceGenerator/*/bin
Tools/GameEventSourceGenerator/*/obj

#openspec
openspec/

#macOS
.DS_Store
